<p *ngIf="!groceryList"><em>Loading...</em></p>

<div *ngIf="groceryList">
  <h1>{{groceryList.title }}</h1>
  <p>{{groceryList.description }}</p>

  <a href="" class="text-danger" (click)="deleteGroceryList(groceryList.id, $event)">delete grocery list</a>

  <br />
  <br />
  <br />
  <form class="form-signin" #addItemForm="ngForm" (ngSubmit)="addItem(groceryList.id, addItemForm)">
    <div class="form-row">
      <div class="form-group col-md-10">
        <input type="text" class="form-control" id="item" name="item" placeholder="New item" ngModel>
      </div>
      <div class="form-group col-md-2">
        <button type="submit" class="btn btn-success btn-block">Add item</button>
      </div>
    </div>
  </form>
  <br>

  <h4>Items:</h4>
  <div *ngIf="!groceryList.items">
    no items in list
  </div>
  <div *ngIf="groceryList.items">
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let item of groceryList.items">
        {{item}}
        <button class="btn btn-danger float-right" (click)="removeItem(groceryList.id, item)">X</button>
      </li>
    </ul>
  </div>

  <br />
  <br />
  <br />

  <h4>Messages:</h4>
  <div *ngIf="messages">
    <div  *ngFor="let message of messages">
      <div>{{ message.user }}<i>({{ message.date }})</i>: {{ message.text }}</div>
    </div>
  </div>


  <form class="form-signin" #sendMessageForm="ngForm" (ngSubmit)="sendMessage(groceryList.id, sendMessageForm)">
    <div class="form-row">
      <div class="form-group col-md-10">
        <input type="text" class="form-control" id="message" name="message" placeholder="New message" ngModel>
      </div>
      <div class="form-group col-md-2">
        <button type="submit" class="btn btn-success btn-block">Send message</button>
      </div>
    </div>
  </form>

</div>


<br />
<br />
<br />
<br />



